html {
    background-color: $beet;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-content {
    flex: 1 0 auto;
    min-height: 100vh;
}

.site-footer {
    flex-shrink: 0;
    background-color: black;
}

[v-cloak] {
    display: none;
}

.bg-color-red-wine {
    background-color: $red-wine;
}

.icon-violet {
    color: $violet;
}

.icon-violet:hover {
    color: $violet-lighter;
}

.icon-violet:visited {
    color: $violet-darker;
}

.vue-tooltip.tooltip-custom {
    background-color: $red-wine;
}

.vue-tooltip.tooltip-custom .tooltip-arrow {
    border-color: $red-wine !important;
}

.title a {
    color: $white !important; 
}

.title a:hover {
    color: $violet-lighter !important; 
}

.nav-stretch {
    width: 100%;
    height: $navbar-height;
    background-color: $box-background-color;
    position: absolute;
    box-shadow: $box-shadow
}

.footer-subscribe{
    .content {
        width: $post-width !important;
        margin: 0.5em auto;
    }
}

.text-emphasis {
    text-transform: uppercase;
    color: $violet-lighter;
    font-weight: bold;
    font-size: 0.70em;
}

.container-post {
    width: $post-width !important;

    .navbar {
        background-color: $box-background-color;
        padding: 0 1.25rem 0 1.25rem;
        box-shadow: $box-shadow
    },

    .content {
        h1 {
            background-color: $violet-lighter;
            font-family: $family-playfair;
            display: inline-block;
        },
        p {
            text-align: justify;
        }
    }

    .is-rounded {
        border-radius: 50% !important;
    }
}
