@import "~bulma/sass/utilities/initial-variables";

$beet: #2E112D;
$regal-red: #540032;
$fire: #C9283E;
$violet: #965677;
$violet-lighter: #AB6288;
$violet-darker: #78455F;
$red-wine: #69013f;
$scarlet-pink: #e7b7bb;

$tag-background-color: $red-wine;
$tag-color: $scarlet-pink;
$tag-radius: 0;

$box-background-color: $regal-red;
$box-radius: 0;
$text: $white;
$text-strong: $white;
$title-color: $white;
$subtitle-color: $white;
$title-color: $white;
$content-heading-color: $white;

$link: $violet;
$link-visited: $violet-darker;
$link-hover: $violet-lighter;


@import "~bulma/bulma";
@import "custom.scss"
