@import "~bulma/sass/utilities/initial-variables";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

$family-playfair: "Playfair Display", serif;
$family-opensans: "Open Sans", sans-serif;

$family-primary: $family-opensans;

$post-width: 720px; /*Number divisable by 12 and 16*/

$beet: #2E112D;
$regal-red: #540032;
$regal-red-lighter: #66003d;
$fire: #C9283E;
$violet: #965677;
$violet-lighter: #AB6288;
$violet-darker: #78455F;
$red-wine: #69013f;
$scarlet-pink: #e7b7bb;

$primary: $regal-red;
$info: $scarlet-pink;

$navbar-item-hover-background-color: $regal-red-lighter;

$tag-background-color: $red-wine;
$tag-color: $scarlet-pink;
$tag-radius: 0;

$box-background-color: $regal-red;
$box-radius: 0;
$text: $white;
$text-strong: $white;
$title-color: $white;
$subtitle-color: $white;
$title-color: $white;
$content-heading-color: $white;

$link: $violet;
$link-visited: $violet-darker;
$link-hover: $violet-lighter;

$footer-background-color: $red-wine;
$footer-height: 144px;

@import "~bulma/bulma";
@import "custom.scss";
@import "tile-content.scss";
@import "tag.scss";
